body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
h1 {
    margin: 0;
    background: #fff;
    line-height: 1;
}
.items {
    display: flex;
    flex-direction: column;
    padding: 25px;    
}
.items_line1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.items_line2 {
    justify-content: center;
}
.items_line3 {
    display: flex;
    justify-content: center;
}