body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
.items {
    display: flex;
    flex-direction: column;
    padding: 25px;    
}
.items_line1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.items_line2 {
    justify-content: center;
}
.items_line3 {
    display: flex;
    justify-content: center;
}

.bugets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffe066;
  width: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top: 4rem;
  padding: 1rem;
  text-align: center;
}
.form-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.items-wrapper {
  min-height: 5rem;
}
.bugetInput {
  display: flex;
  flex: 2;
  max-height: 3rem;
}
.plusBtn {
  width: 15%;
  max-height: 3rem;
}

.theList {
  list-style: none;
  padding-left: 0;
  width: auto;
} 
.theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul.theList {
  margin: 10px;
  padding: 0;
}